@font-face {
  font-family: Orbitron;
  src: url("../src/assets/fonts/Orbitron-Regular.ttf");
}

@font-face {
  font-family: DMsans;
  src: url("../src/assets/fonts/DMSans_36pt-Regular.ttf");
}

@import "tailwindcss";

@theme {
  --font-orbitron: Orbitron , "sans-serif";
}
@theme {
  --font-dmsans: DMsans, "sans-serif"
}
@plugin "daisyui" {
  themes: light --default, dark --prefersdark , business , abyss , dim , night ,lemonade, nord, cupcake, coffee, autumn , dracula , emerald , sunset , forest;
}

/* Typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Blinking cursor */
@keyframes blink {
  50% {
    border-color: transparent;
  }
  100% {
    border-color: white;
  }
}

/* Applying animations */
.typing-text {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: 4px solid white; /* Cursor effect */
  animation: typing 3s steps(20, end) forwards, blink 0.7s infinite;
}
