@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@plugin "daisyui" {
  themes: light --default, dark --prefersdark , business , abyss , dim;
}

/* Typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Blinking cursor */
@keyframes blink {
  50% {
    border-color: transparent;
  }
  100% {
    border-color: white;
  }
}

/* Applying animations */
.typing-text {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: 4px solid white; /* Cursor effect */
  animation: typing 3s steps(20, end) forwards, blink 0.7s infinite;
}

.font-mdsans {
    font-family: 'MD Sans', sans-serif;
  }